---
import { ViewsComponent } from "./ViewsComponent";

interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  title: string;
  date: string;
  readingTime: string;
}

const { date, readingTime, title, ...props } = Astro.props;

const slug = (props.href as string).split("/blog/").join("");

const formattedDate = new Date(date).toLocaleDateString("en-us", {
  year: "2-digit",
  month: "numeric",
  day: "numeric",
});
---

<a
  class="w-full transform rounded-xl bg-gradient-to-r from-cyan-300 to-cyan-600 p-1 transition-all hover:scale-[1.01] md:w-1/3"
  {...props}
>
  <div
    class="flex h-full flex-col justify-between rounded-lg bg-white px-3 py-2"
  >
    <div class="mb-3 flex flex-col justify-between md:flex-row">
      <h4 class="my-1 w-full tracking-tight text-gray-900 md:text-lg">
        {title}
      </h4>
    </div>
    <div class="items-center justify-between text-xs font-light text-zinc-500">
      <span>{readingTime}</span>

      <span>•</span>

      <time datetime={date}>
        {formattedDate}
      </time>

      <span>•</span>

      <ViewsComponent client:only="react" slug={slug} isBlogPage={false} />
    </div>
  </div>
</a>
